{% extends "website/base.html" %}
{% block main %}
<h2>プロジェクト一覧</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>プロジェクトID</th>
        <th>プロジェクト名</th>
        <th>期限</th>
        <th>残日数</th>
        <th>タスク数</th>
        <th>備考</th>
        <th>ユーザー名</th>
        <th>ステイタス</th>
        <th>作成日</th>
        <th>更新日</th>
    </tr>
    </thead>

    <tbody>
    {% for project_info in project_info_list %}
    <tr>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.id }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.title }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.deadline }}</a></td>
        <td>{{ project_info.remaining_days }} </td>
        <td><a href="{% url 'userlist' %}">{{ project_info.task_count }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.note }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.user_id }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.status_id }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.created }}</a></td>
        <td><a href="{% url 'project_list' %}">{{ project_info.project.updated }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
